{% load static %}
<title>How to play</title>
<head></head>
<body background="{% static 'images/about4.jpg' %}">
<strong><h1 style="color:whitesmoke; font-size: 300%;">&nbsp;&nbsp;&nbsp;Rules & How To Play!</h1></strong>
<strong><ul style="color:whitesmoke ;font-size:220%">
    <li>In this game you have to guess the number between 1 to 20 and submit your number.</li><br>
    <li>If your Guess is correct in first time you win and enterd into another level,But if your guess is wrong you have another 5 chance.</li><br>
    <li>There are 5 attempts in this game,if first attempt is wrong it also reflect your score and so on.. .</li><br>
    <li> You can see the 10 Highest Score's Players by clicking on Membership Bord</li>
  </ul></strong>
  <i style="color:Yellow ;font-size:180%"><strong>*Tips:After one incorrect guess you will know your number is greater or smaller from random number.</strong></i>
  <!-- <input type="submit"><a href="/accounts/home"></a>  -->
  <br><br><a href="/accounts/home">Back</a>
</body>